<details class="card" [open]="opened">
  <summary class="title">
    <div class="title__month">{{ month }}</div>
    <div class="title__day">{{ day }}</div>
    <div class="title__text">{{ item.title }}</div>
    <div class="title__marker"></div>
  </summary>
  <section class="body">
    <p>
      {{ item.description }}
    </p>
    <p>
      <span>The weather will be </span>
      <span>{{ item.weatherIcon }}</span>
    </p>
    <div class="footer">
      <button (click)="updateItem()">✎ Update event</button>
      <button (click)="deleteItem()">✖ Delete event</button>
    </div>
  </section>
</details>
