<details *ngIf="item"
         class="card"
         id="card" [open]="opened">
  <summary class="title">
    <div class="title__month" id="date-month">{{ month }}</div>
    <div class="title__day" id="date-day">{{ day }}</div>
    <div class="title__text" id="title">{{ item.title }}</div>
    <div class="title__marker"></div>
  </summary>
  <section class="body">
    <p class="description" id="description">
      {{ item.description }}
    </p>
    <p class="weather">
      <span class="weather__text">The weather will be </span>
      <span class="weather__icon" id="weather">{{ item.weatherIcon }}</span>
    </p>
    <div class="footer">
      <button class="footer__update"
              id="btn-update"
              (click)="updateItem()">✎ Update event</button>
      <button class="footer__delete"
              id="btn-delete"
              (click)="deleteItem()">✖ Delete event</button>
    </div>
  </section>
</details>
