<section class="page-form">

  <section class="page-form__header">
    <button (click)="back()">
      <div class="back">
        <span class="back__cta">Back to my event</span>
        <span class="back__icon"></span>
      </div>
    </button>
  </section>

  <section class="page-form__body">
    <form *ngIf="eventForm$ | async as eventForm"
          class="event-form"
          novalidate
          [formGroup]="eventForm"
          (ngSubmit)="isUpdate ? onUpdate(eventForm) : onCreate(eventForm)">
          <div class="event-form__row">
            <label>Title</label>
            <input formControlName="title"
                   placeholder="Documentation"
                   [ngClass]="{'error': isInvalid(eventForm, 'title') }">
          </div>
          <div class="event-form__row">
            <label>Description</label>
            <input formControlName="description"
                   placeholder="Write steps..."
                   [ngClass]="{'error': isInvalid(eventForm, 'description') }">
          </div>
          <div class="event-form__row">
            <label>Date</label>
            <input formControlName="date"
                   placeholder="YYYY-MM-DD"
                   [ngClass]="{'error': isInvalid(eventForm, 'date') }">
          </div>
      <button type="submit"
              [disabled]="eventForm.invalid">
        {{ (eventSelected$ | async) ? 'Update' : 'Create' }}
      </button>
    </form>
  </section>
</section>
