:host {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 auto;
    text-align: center;
  }

  p {
    margin: 0;
  }
}


