<section class="page-list">
  <h2 class="page-list__title">My events</h2>

  <button class="page-list__create"
          id="btn-create"
          (click)="createNewEvent()">
    <div class="create">
      <span class="create__icon">+</span>
      <span class="create__cta">Create new event</span>
    </div>
  </button>

  <section class="upcoming-events" id="upcoming-events">
    <h3 class="upcoming-events__title">Upcoming events</h3>

    <ng-container *ngIf="(upcomingEventList$ | async) as upcomingEventList">
      <div *ngIf="!upcomingEventList.length" class="no-events">
       No events to show
      </div>
    </ng-container>

    <ul class="upcoming-events__list">
      <li *ngFor="let event of upcomingEventList$ | async">
        <card-event [id]="event.id"
                    [item]="event"
                    [opened]="event.id === (eventIdSelected$ | async)"
                    (updateEmt)="onUpdateEvent(event)"
                    (deleteEmt)="onDeleteEvent(event)">
        </card-event>
      </li>
    </ul>
  </section>

  <section class="past-events" id="past-events">
    <h3 class="past-events__title">Past events</h3>

    <ng-container *ngIf="(pastEventList$ | async) as pastEventList">
      <div *ngIf="!pastEventList.length" class="no-events">
       No events to show
      </div>
    </ng-container>

    <ul class="past-events__list">
      <li *ngFor="let event of pastEventList$ | async">
        <card-event [id]="event.id"
                    [item]="event"
                    [opened]="event.id === (eventIdSelected$ | async)"
                    (updateEmt)="onUpdateEvent(event)"
                    (deleteEmt)="onDeleteEvent(event)">
        </card-event>
      </li>
    </ul>
  </section>
</section>
