.page-list {
  &__title {
    margin: 1rem auto;
    text-decoration: underline;
  }

  &__create {
    $create-button-size: 4rem;
    background-color: var(--colour-tertiary);
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
    position: fixed;
    border-radius: $create-button-size;
    height: $create-button-size;
    width: $create-button-size;
    bottom: 2rem;
    right: 1.5rem;
    transition: all 0.2s linear;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    overflow: hidden;
    z-index: 1;

    .create {
      color: var(--colour-primary);
      width: 16rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      &__icon {
        font-size: 3rem;
        margin: 0 0.75rem;
        transition: all 0.2s linear;
        @-moz-document url-prefix() {
          position: relative;
          top: -0.25rem;
          left: -0.25rem;
        }
      }

      &__cta {
        font-size: 1.5rem;
        width: max-content;
        margin-left: 0.5rem;
      }
    }

    &:hover {
      width: 17rem;

      .create {
        &__icon {
          transform: rotate(-90deg);
          @-moz-document url-prefix() {
            position: relative;
            top: 0;
            left: 0;
          }
        }
        &__cta {
          margin-left: 0;
        }
      }
    }
  }

  .upcoming-events,
  .past-events {
    margin: 2rem auto 4rem auto;

    &__title {
      margin: 1rem auto;
    }
    &__list {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 100%;
      grid-gap: 0.5rem;

      @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 1336px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  .no-events {
    background-color: var(--colour-secondary);
    border-radius: 0.5rem;
    border-style: dashed;
    border-width: 0.2rem;
    border-color: #00000011;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 1rem;
    position: relative;
    transition: all 0.2s linear;
    width: 100%;
    min-width: min-content;
  }
}
